main form input, main form textarea {
  border: 2px solid lightgrey;
  margin-top: 0;
  transition: 0.2s;
}
main form input:hover, main form textarea:hover {
  border: 2px solid #5151EC;
}
main img {
  width: 1.5em;
}
main section.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
main section.flex h2 {
  color: #9F51EC;  
}
label:nth-of-type(2) {
  margin-top: 50px;
}
.submit-large {
  font-size: 1.2em;
}