section h2 {
  color: #9F51EC;
}
section:nth-of-type(1) div {
  margin-right: auto;
}
section:nth-of-type(2) div {
  margin-left: auto;
}

/* putting icon and text side by side*/
.icon1 {
  float: right;
  width: 30%;
  max-width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
}
.icon2 {
  float: left;
  width: 30%;
  max-width: 100%;
  padding-right: 20px;
  padding-bottom: 20px;
}
.position_cen {
  overflow: hidden;
}

