
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

/* typography */

body {
  color: #2E323F;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.5rem; /* "body copy" i.e. paragraph texts */
}

h1, h2, h3, h4 {
  margin-top: 0; /* can cause alignment issues otherwise! */
}

.logo--container {
  display: none;
}

.header {
  background-color: #2e323f;
}

.header, .hero {
  text-align: center;
}

.hero__title, 
.section__title {
  color: #9F51EC;
}

.nav {
  font-family: oswald, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.nav__item {
  list-style-type: none;
  margin: 0.1em 0;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}
.nav__link:hover {
  opacity: 0.7;
}

.nav__link--button {
  background-color: #9C47EB;
  border-radius: 100px;
  padding: 0.3rem 1em;
  text-transform: uppercase;
}
.nav__link--button:hover {
  opacity: 0.8;
}

.nav__list--primary {
  margin-bottom: 10px;
}

.hero__title {
  font-family: oswald, sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.1;
  text-align: center;
}

.hero__title--light {
  color: #fff;
}

.hero__text, .btn {
  color: #fff;
}

.section__title {
  color: #9C47EB;
}
.hero__title, .footer__subtitle {
  color: #d9b9f7;
}

.btn {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  text-decoration: none;
  background-color: #9C47EB;
  border-radius: 100px;
  padding: 0.3rem 1em;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.8;
}



/* */
header, .hero {
  background-color: #3B4050;
}

.aside {
  color: #fff;
}

.title--light {
  color: #fff;
}

.footer {
  background-color: #3B4050;
  color: #fff;
  font-size: 1.2rem;
}

.footer__nav__item {
  list-style-type: none;
}

.footer__nav__link {
  color: #fff;
  text-decoration: none;
}

.footer__nav__link:hover { 
  opacity: 0.7;
}


/* Layout */
/* Start with mobile! */
.container {
  /* border: 2px solid purple; */
  width: 80%;
  margin: 0 auto;
  padding: 3em 0;
  max-width: 1200px;
}

.header .container { /* cancel this later for bigger screens! */
  padding: 1em 0;
}

.hero__title, .hero__text {
  margin-bottom: 0.7em;
}

.section__title, .footer__title {
  margin-bottom: 0.4em;
}

.footer__subtitle {
  margin: 0.2em 0;
}

.footer p {
  margin-bottom: 0.6em;
}

.footer__nav__item {
  margin-bottom: 0.2em;
}

.section-three-col p,
.section-two-col p,
.img--icon {
  margin-bottom: 1em;
}


.aside__box {
  background-color: #3B4050;
  padding: 1em;
  margin-top: 10px;
}

.img2-container {
  display: flex;
  justify-content: center;
}
.img--icon2 {
  max-width: 3em;
}

 
/*
/////////////////////////////////

hero title and entire footer have smaller fonts on mobile.
Need to enlarge them for bigger screens 😁

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

/* media queries for medium screens! 700px */
@media(min-width: 700px) {
    /* hero */
  .hero .col:first-of-type  {
    margin-right: 1.5em;
  }
  .hero, .hero__title {
    text-align: left;
  }
  .hero .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
   /* section--three-col*/
  .section-three-col .row {
    display: flex;
    text-align: center;
  }
  .section-three-col .col + .col {
    margin-left: 2.5em;
  }

  /* aside (from section-two-col*/
  .aside.row {
    display: flex;
  }
  .aside__box + .aside__box {
    margin-left: 10px;
  }

  /* nav */
  .logo--container {
  display: inline;
  }
  .logo {
    width: 3em;
  }
  .header .row {
    display: flex;
    justify-content: space-between;
  }
  .hero__title {
    font-size: 5.625rem;
  }
  .nav__row {
    display: flex;

  }
  .nav__row .nav__item {
    padding: 0 1em;
  }
  .nav__row + .nav__row {
    margin-left: 3em;
  }
  .section__title--center {
    text-align: center;
  }

  .img2-container {
    margin-top: 1em;
  }
  /* footer */
  .footer__title {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1.5rem;
  }
  .footer__subtitle, .footer__nav__link,
  .footer__subtitle + p {
    font-size: 1rem;
  }
  .footer .row {
    display: flex;
    justify-content: space-around;
  }

  .footer .row .col {
    width: 100%;
  }

  /* could work to make first footer col bigger */
  /* .footer .col:first-of-type {
    flex-grow: 1;
  } */

  .footer .row .col + .col {
    margin-left: 2em;
  }
}
/* media queries for large screens!
Just change .aside.row to be a column */

@media(min-width: 1000px) {
  .section-two-col .container.row {
    display: flex;
    align-items: flex-start
  }
  .aside.row {
    flex-direction: column;
  }
  .aside__box + .aside__box {
    margin-left: 0px;
  }
  .aside {
    margin-left: 4em;
    text-align: center;
  }
}